.labroski {
  text-align: center;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  background-color: rgba(26, 26, 26, 255);
  padding: 30px;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul li a {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  color: #bbb5b5;
  margin: 0 30px;
  transition: .5s;
}

.social ul li a {
  padding-top: 50px;
}

.middle{
padding: 50px;
}

.button{
  width: 150px;
  height: 50px;
}

.social {
  text-align: center;
  color: whitesmoke;
}

.facebook:hover {
  color: #087583;
}

.tiktok:hover {
  color: #e369c8;
}

.instagram:hover {
  color: #15b74e;
}