.columns {
    display: inline-block;
    padding: 10;
}

.img{
    width: 50px;
}

.top {
    color: #000000;
    float: left;
    border-left: .25pt solid #000000;
    padding: 10px;
    font-size: 100;
}

.bottom {
    font-size: 16;
}