.columns{
display: inline-block;
}

.img{
    display: inline-block;
    }

.info {
    color: #000000;
    border-left: .25pt solid #000000;
    padding: 10px;
    font-size: 100;
    display: inline-block;
}
